<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <link rel="stylesheet" href="../css/dashboard.css">
        <script src="../js/authorization.js"></script>
        <script src="../js/register.js"></script>
        <script src="../js/dashboard.js"></script>
    </head>
    <body>
        <nav>
            <a href="javascript:navigate('clients');">Clients</a>
            <a href="javascript:navigate('settings');">Settings</a>
            <a href="javascript:navigate('admin_settings');" style="display: none" id="menu_item_admin_settings">Admin Settings</a>
            <a href="javascript:logout();">Logout</a>
        </nav>
        <div class="content active" id="clients">
            ${clients}
        </div>
        <div class="content" id="settings">
            ${settings}
        </div>
        <div class="content" id="admin_settings">
            ${admin_settings}
        </div>
    </body>
</html>