<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <link href="../css/authorization.css" rel="stylesheet">
    <title>Login</title>
    <script src="../js/authorization.js"></script>
</head>
<body>
    <div id="interactionContainer">
        <!--Logo-->
        <h1 id="interactionHeader">Anmeldung</h1>
        <label>
            <input id="usernameInput" type="text" placeholder="Nutzername, ID oder E-Mail">
            <br>
            <input id="passwordInput" type="password" placeholder="Passwort">
        </label>
        <a id="recoverLink" href="">Anmeldedaten vergessen?</a>
        <a id="registerButton" href="../register">Registrieren</a>
        <button id="loginButton" onclick="submitAuthorization()">Weiter</button>
    </div>
</body>
</html>