<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <link href="../css/authorization.css" rel="stylesheet">
    <title>${lang("login")}</title>
    <script src="../js/authorization.js"></script>
</head>
<body>
    <div id="interactionContainer">
        <!--Logo-->
        <h1 id="interactionHeader">${lang("login")}</h1>
        <label>
            <input id="usernameInput" type="text" placeholder="Nutzername, ID oder E-Mail">
            <br>
            <input id="passwordInput" type="password" placeholder="${lang("password")}">
        </label>
        <a id="recoverLink" href="javascript:void(0)" onclick="submitPasswordReset()">${lang("forgotPassword")}</a>
        <a id="registerButton" href="javascript:void(0)" onclick="redirect('../register')">${lang("register")}</a>
        <button id="loginButton" onclick="submitAuthorization()">${lang("continue")}</button>
    </div>
</body>
</html>