doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    link(href="../css/authorization.css" rel="stylesheet")
    title= lang("login")
    script(src="../js/authorization.js")
body
    #outer-container
        form#inner-container
            h1#title= lang("login")
            #input-container
                input#usernameInput(type="text" name="login" placeholder="Nutzername, ID oder E-Mail" required)
                input#passwordInput(type="password" name="password" placeholder=lang("password") required)
                a#recoverLink(href="javascript:void(0)" onclick="submitPasswordReset()")= lang("forgotPassword")
            #button-container
                a#registerButton(href="javascript:void(0)" onclick="redirect('../register')")= lang("register")
                input#nextButton(type="submit" value=lang("continue"))

script document.querySelector("form").addEventListener("submit", submitAuthorization)
