doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../css/layout.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap")
        block head
    body
        if custom.logo || custom.name
            #header
                a(href=custom.url)
                    img(src=custom.logo)
                    h1 #{custom.name}
        #content-container
            block body
        block footer
