<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <link href="../css/register.css" rel="stylesheet">
    <title>Registrierung</title>
    <script src="../js/register.js"></script>
    <script src="../js/authorization.js"></script>
</head>
<body>
<div id="interactionContainer">
    <!--Logo-->
    <h1 id="interactionHeader">Registrieren</h1>
    <label>
        <input id="usernameInput" type="text" placeholder="Nutzername">
        <br>
        <input id="emailInput" type="text" placeholder="E-Mail">
        <br>
        <input id="passwordInput" type="password" placeholder="Passwort">
        <br>
        <input id="passwordVerification" type="password" placeholder="Passwort bestätigen">
    </label>
    <a id="loginButton" href="../authorize">Anmelden</a>
    <button id="registerButton" onclick="submitRegister()">Weiter</button>
</div>
</body>
</html>