<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <link href="../css/register.css" rel="stylesheet">
    <title>${lang("register")}</title>
    <script src="../js/register.js"></script>
    <script src="../js/authorization.js"></script>
</head>
<body>
<div id="interactionContainer">
    <!--Logo-->
    <h1 id="interactionHeader">${lang("register")}</h1>
    <label>
        <input id="usernameInput" type="text" placeholder="${lang("username")}">
        <br>
        <input id="emailInput" type="text" placeholder="${lang("email")}">
        <br>
        <input id="passwordInput" type="password" placeholder="${lang("password")}">
        <br>
        <input id="passwordVerification" type="password" placeholder="${lang("confirmPassword")}">
    </label>
    <a id="loginButton" href="javascript:void(0)" onclick="redirect('../authorize')">${lang("login")}</a>
    <button id="registerButton" onclick="submitRegister()">${lang("continue")}</button>
</div>
</body>
</html>