doctype html
html
    head
        meta(charset="UTF-8")
        title= lang("resetPassword")
        script(src="../js/authorization.js")
        script(src="../js/verification.js")
    body
        input#input_password(type="password")
        button(onclick="resetPassword()")= lang("change")
