doctype html
html
    head
        meta(charset="UTF-8")
        title Email verification
        script(src="../js/authorization.js")
        script(src="../js/verification.js")
    body
        | Verifying email address...
script verify();