html, body {
    background: #EEEEEE;
    height: calc(100% - 50px);
}

#content-container {
    position: relative;
}

#outer-container {
    position: absolute;
    background: white;
    text-align: center;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 8px;
    font-size: 14px;
}

@media screen and (min-width: 600px) {
    #outer-container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 450px;
        height: 550px;
        border: 1px solid #bdbdbd;
        border-radius: 5px;
    }
}

#inner-container {
    margin: 45px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;
}

#input-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

input {
    height: 50px;
    border: 2px solid #121212;
    border-radius: 8px;
    font-size: 14px;
    color: black;
    padding-left: 8px;
    padding-right: 1px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#title {
    font-weight: normal;
    font-size: 32px;
    color: #202124;
}

#button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#registerButton, #loginButton {
    border: none;
    font-weight: bold;
    background: #FFFFFF;
    color: black;
    text-decoration: none;
}

#nextButton {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    background: #FFFFFF;
    color: black;
    text-decoration: none;
}

input[type="submit"]:hover {
    cursor: pointer;
}

#recoverLink {
    display: block;
    color: black;
    text-decoration: none;
    text-align: left;
}

#cookie-banner {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}
