nav > a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

nav > a:hover {
    color: grey;
}

.content {
    width: 100%;
    display: none;
}

.active {
    display: block !important;
}

input {
    border: 1px solid #eee;
    background-color: white;
}

.table-wrapper {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    min-width: 100%;
}

td, th {
    border: 1px solid #eee;
    text-align: left;
    padding: 4px;
}

tr:nth-child(even) {
    background-color: #eee;
}

.uuid {
    font-family: monospace;
}

#settings-input-container input {
    min-width: 400px;
    width: 100%;
}

#settings-input-container th {
    width: max-content;
}
