.content {
    width: 100%;
    height: 100%;
    display: none;
}

.active {
    display: block !important;
}

input {
    border: none;
    background-color: white;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #eee;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #eee;
}

.user-id {
    font-family: monospace;
}
