extends ../layout.pug

block head
    title Email verification
    script(src="../js/authorization.js")
    script(src="../js/verification.js")

block body
    | Verifying email address...
    script verify();
